@import "tailwindcss";

/* @plugin "tailwindcss-animate"; */

@custom-variant dark (&:is(.dark *));

@theme {
  /* Your Custom Colors */
  --color-bg-primary: #FAFAFA;
  --color-bg-secondary: #F4F4F5;
  --color-text-primary: #09090B;
  --color-text-muted: #71717A;
  --color-action: #10B981;
  --color-action-hover: #059669;
  --color-state-error: #EF4444;

  /* The "Secret Sauce" for Shadcn to work */
  --color-border: var(--color-bg-secondary);
  --color-input: var(--color-bg-secondary);
  --color-ring: var(--color-action);
  --color-background: var(--color-bg-primary);
  --color-foreground: var(--color-text-primary);
  
  --radius-lg: 0.5rem;
  --radius-md: calc(0.5rem - 2px);
  --radius-sm: calc(0.5rem - 4px);
}

@layer base {
  html {
     scroll-behavior: smooth;
  }
  * {
    @apply border-border;
  }
  body {
    @apply bg-bg-primary text-text-primary antialiased;
  }
  section {
     scroll-margin-top: 80px; 
  }
}